.first {
  height: 100vh;
  position: relative;

  &__background {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    display: flex;
    flex-direction: column;
    width: 100%;

    color: white;
    font-family: 'Manjari', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);

    .text {
      text-align: center;

      h2 {
        font-size: 106px;
        font-family: 'Khand', sans-serif;
        font-weight: 200;
        height: 140px;
      }
    }

    .located {
      display: flex;
      align-items: center;
      margin: 0 auto;

      &__image {
        .notice {
          font-size: 28px;
          text-align: center;
          margin-top: 6px;

          .world {
            fill: rgb(255, 255, 255);
            width: 1em;
            height: 1em;
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            white-space: nowrap;
            border: 1px solid rgb(255, 255, 255);
            box-sizing: border-box;
            background-image: url(#icon-world);

            svg {
              width: 4em;
              height: 1em;
              margin-top: calc(1px + -0.05em);
              display: inline;
              animation: world-scroll 3.5s linear infinite;
            }
          }
        }

        @keyframes world-scroll {
          from {
            margin-left: -2.75em;
          }
          to {
            margin-left: -1em;
          }
        }
      }

      &__text {
        margin-left: 20px;
      }
    }
  }

  .container {
    display: flex;
    justify-content: flex-end;

    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -15%);

    .first__links {
      display: flex;
      align-items: center;

      .linkedIn_icon {
        width: 55px;
        height: 55px;
      }

      .github_icon {
        margin-left: 22px;
        width: 62px;
        height: 62px;
      }
    }
  }
}
