.skills {
  position: relative;
  height: 790px;

  .container {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    .title {
      .heading::before {
        background: linear-gradient(#ffffff, #ffffff);
      }
    }

    .skills_block {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      margin-top: 62px;
      .column {
        display: flex;
        flex-direction: column;
        width: 31%;

        .category {
          display: flex;
          flex-direction: column;
          margin-bottom: 48px;

          &:last-child {
            margin-bottom: 0px;
          }
          .title {
            margin: 0 auto 28px;
            p {
              font-family: 'Source Sans 3', sans-serif;
              font-optical-sizing: auto;
              font-weight: 600;
              font-size: 20px;
              color: #ffffff;
            }
          }
          .items {
            display: flex;
            flex-direction: column;
            align-items: center;
            .row {
              display: flex;
              .item {
                background-color: #ffffff;
                margin: 0px 10px 16px 0px;
                padding: 8px 20px 7px;
                border-radius: 25px;
                &:last-child {
                  margin-right: 0px;
                }
                p {
                  font-family: 'Source Sans 3', sans-serif;
                  font-optical-sizing: auto;
                  font-weight: 500;
                  color: #000000;
                }
              }
              .item--long {
                padding: 8px 15px 7px;
              }
            }
          }
        }
      }
    }

    .button_block {
      width: fit-content;
      display: flex;
      flex-direction: column;
      margin: 45px auto 0px;
    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    height: 1050px;
    .container {
      .skills_block {
        flex-wrap: wrap;

        .column {
          width: 45%;
          margin-bottom: 20px;
        }

        .column--first {
          margin-bottom: 0px;
        }

        .column--second {
          flex-direction: column-reverse;
          margin-bottom: auto;

          .category {
            &:last-child {
              margin: 0px 0px 48px;
            }
          }
        }

        .column--third {
          width: 100%;
          flex-direction: row-reverse;
          margin: 0px;
          justify-content: space-between;

          .category {
            width: 45%;
            margin-top: 0px;
            &:last-child {
              margin-top: 48px;
            }
          }
        }
      }

      .button_block {
        margin-top: 25px;
      }
    }
  }
}
