* {
  margin: 0;
  padding: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

.heading {
  background-color: transparent;
  width: fit-content;
  position: relative;
  p {
    padding: 2px 22px 0px;
    color: #ffffff;
    font-family: 'Khand', sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }
}

.heading::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 25px;
  padding: 1.5px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 25px;
  cursor: none;
  color: #ffffff;
  font-family: 'Khand', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  text-align: center;
  text-decoration: none;
  transition: 0.4s color linear;
  transition: transform 0.5s linear;

  box-sizing: border-box;
  display: inline-block;
  line-height: 20px;
  outline: none;

  touch-action: manipulation;
  z-index: 0;
  overflow: hidden;

  &::after {
    background-color: rgb(255, 255, 255);
    border-radius: 120px;

    content: '';
    display: block;
    height: 230%;
    width: 120%;
    position: absolute;
    left: -10%;
    bottom: 0;
    transform: translateY(100%);
    transform-origin: top left;
    transition: 0.5s transform ease-out;
    will-change: transform;
    z-index: -1;
  }
  &.moved-up::after {
    transform: translateY(-200%);
  }

  &:hover::after {
    transform: translateY(40%);
  }

  &:hover {
    border-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
}

.btn--first {
  padding: 10px 17px 9px;
}

.btn--second {
  border: 2px solid #ffffff;
  padding: 17px 35px 13px;
  margin: 0 auto;
}

// .button-23:focus-visible {
//   box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
//   transition: box-shadow .2s;
// }

// .button-23:active {
//   background-color: #F7F7F7;
//   border-color: #000000;
//   transform: scale(.96);
// }

// .button-23:disabled {
//   border-color: #DDDDDD;
//   color: #DDDDDD;
//   cursor: not-allowed;
//   opacity: 1;
// }

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}
